[Desktop Entry]
Name=Pineapple Writer
GenericName=Speech to Text
Comment=System tray speech-to-text using OpenAI
Exec=PineappleWriter
Icon=io.github.petesimard.pineapplewriter
Terminal=false
Type=Application
Categories=AudioVideo;Development;
Keywords=Speech;Transcription;Audio;Voice;OpenAI;Microphone;
StartupNotify=true
StartupWMClass=PineappleWriter

